
body{
  margin: 0 auto;
  cursor: pointer;
}

/* NavBar*/
strong {
  font-size: xxx-large;
  color: white;
}

.navbar {
  background: rgb(71 67 67 / 80%);
}

.navbar-brand {
  border-left: 2px solid #fff; /* Petite bordure à gauche */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff; /* Couleur blanche pour le texte */
}

.navbar-nav {
  display: flex; /* Afficher les éléments de la liste horizontalement */
  align-items: center; /* Centrer verticalement les éléments de la liste */
  list-style-type: none;/*permet d'enlever les points du menu */
}

.navbar-nav .nav-item {
  margin-right: 10px; /* Marge entre les éléments du menu */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Supprimer la marge à droite pour le dernier élément */
}

.navbar-nav .nav-link {
  padding: 10px; /* Ajouter un peu de padding pour les liens */
}

.navbar-nav .nav-link:hover {
  color: red; /* Changement de couleur en rouge au survol */
}
ul {
  padding: 0 0 0 50%;
}
